VITE_SERVER_URL=http://localhost:5000
VITE_LOAN_REQUEST_ADDRESS=
VITE_VOUCH_POOL_ADDRESS=
VITE_REPUTATION_ADDRESS=
VITE_CHAIN_ID=31337
VITE_SEPOLIA_RPC=http://127.0.0.1:8545
VITE_BLOCK_EXPLORER=http://127.0.0.1:8545
